<sg-squad-list-side-nav [factionId]="config.faction.factionId" [tabId]="tabId"></sg-squad-list-side-nav>
<div class="main-panel">
  <sg-squad-list-navbar [tabId]="tabId" [config]="config"></sg-squad-list-navbar>
  <div class="squad">
    <div class="squad-wrapper container">
        <mat-accordion [multi]="true" class="squad-pilot-list" *ngIf="squadPilots.length > 0">
          <mat-expansion-panel *ngFor="let squadPilot of squadPilots">
            <mat-expansion-panel-header class="squad-pilot-header" collapsedHeight="40px" expandedHeight="40px">
              <mat-panel-title>
                  <p class="title">
                    <i [ngClass]="squadPilot.pilot.ship.icon"></i>
                    <span *ngIf="squadPilot.pilot.unique" class="unique">• </span> <span class="name">{{ squadPilot.pilot.name }} </span> <span class="points">({{ squadPilot.points }})</span></p>
              </mat-panel-title>
              <mat-panel-description>
                <sg-squad-pilot-header [squadPilot]="squadPilot" class="header-line" (action)="actionHandler($event)"></sg-squad-pilot-header>
              </mat-panel-description>
            </mat-expansion-panel-header>
          <sg-squad-pilot-body  [squadPilot]="squadPilot"></sg-squad-pilot-body>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
</div>
