<mat-tab-group *ngIf="tabs$ | async" [(selectedIndex)]="selectedIndex"
               (selectedTabChange)="selectedTabChanged($event)"
               (animationDone)="animationDone()"
               color="accent"
               class="tab-navigation-tabs">
  <mat-tab *ngFor="let tab of tabs$ | async" class="mat-elevation-z6">
    <ng-template mat-tab-label>
      <sg-tab
        [iconClass]="tab.factionIcon"
        [label]="tab.factionName"
      ></sg-tab>
    </ng-template>
    <ng-template matTabContent>
      <sg-tab-content [id]="tab.id" [type]="tab.type"></sg-tab-content>
    </ng-template>
  </mat-tab>
</mat-tab-group>
