<div class="stats" *ngIf="!isMobile">
  <span class="stat stat-skill">{{ squadPilot.pilot.skill }}</span>
  <span class="stat stat-attack" *ngIf="squadPilot.pilot.ship.attack">{{ squadPilot.pilot.ship.attack }}</span>
  <span class="stat stat-bullseyearc" *ngIf="squadPilot.pilot.ship.attackbull">{{ squadPilot.pilot.ship.attackbull }}</span>
  <span class="stat stat-attackb" *ngIf="squadPilot.pilot.ship.attackb">{{ squadPilot.pilot.ship.attackb }}</span>
  <span class="stat stat-attackt" *ngIf="squadPilot.pilot.ship.attackt">{{ squadPilot.pilot.ship.attackt }}</span>
  <span class="stat stat-attackdt" *ngIf="squadPilot.pilot.ship.attackdt">{{ squadPilot.pilot.ship.attackdt }}</span>
  <span class="stat stat-agility" *ngIf="squadPilot.pilot.ship.agility">{{ squadPilot.pilot.ship.agility }}</span>
  <span class="stat stat-hull" *ngIf="squadPilot.pilot.ship.hull">{{ squadPilot.pilot.ship.hull }}</span>
  <span class="stat stat-shields" *ngIf="squadPilot.pilot.ship.shields">{{ squadPilot.pilot.ship.shields }}</span>
  <span class="stat stat-force" *ngIf="squadPilot.pilot.force">{{ squadPilot.pilot.force }}</span>
</div>
<div class="actions">
  <button mat-icon-button class="action duplicate" (click)="onActionClick($event, 'DUPLICATE')" *ngIf="!isMobile"><mat-icon>file_copy</mat-icon></button>
  <button mat-icon-button class="action move-up" (click)="onActionClick($event, 'MOVE_UP')" *ngIf="!isMobile"><mat-icon>arrow_drop_up</mat-icon></button>
  <button mat-icon-button class="action move-down" (click)="onActionClick($event, 'MOVE_DOWN')" *ngIf="!isMobile"><mat-icon>arrow_drop_down</mat-icon></button>
  <button mat-icon-button class="action delete" (click)="onActionClick($event, 'REMOVE_FROM_SQUAD')" *ngIf="!isMobile"><mat-icon>delete</mat-icon></button>
  <button mat-icon-button class="action more" [matMenuTriggerFor]="menu" *ngIf="isMobile" (click)="onMenuClick($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>


<mat-menu #menu="matMenu">
  <button mat-menu-item class="action duplicate" (click)="onActionClick($event, 'DUPLICATE', false)"><mat-icon>file_copy</mat-icon><span>Duplicate</span></button>
  <button mat-menu-item class="action move-up" (click)="onActionClick($event, 'MOVE_UP', false)"><mat-icon>arrow_drop_up</mat-icon><span>Move up</span></button>
  <button mat-menu-item class="action move-down" (click)="onActionClick($event, 'MOVE_DOWN', false)"><mat-icon>arrow_drop_down</mat-icon><span>Move down</span></button>
  <button mat-menu-item class="action delete" (click)="onActionClick($event, 'REMOVE_FROM_SQUAD', false)" ><mat-icon>delete</mat-icon><span>Remove</span></button>
</mat-menu>
