.maneuver-dial {
  user-select: none;
  td {
    background: #000;
    border: thin solid #fff;
    text-align: center;
    i {
      font-size: 1em;
      line-height: 1.25em;
      width: 1.25em;
      text-align: center;
      margin: 0;
      float: left;
      color: #a9afbb;
      &.color-blue {
        color: #55b7e3;
      }
      &.color-red {
        color: #f84832;
      }
      &.color-white {
        color: #ffffff;
      }
    }
    &.speed {
      font-family: kimberley;
    }
  }
}
