.container-fluid {
  justify-content: unset;
  padding: 10px 15px;
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 5px 15px;
    .navbar-wrapper {
      width: calc(100% - 64px);
    }
  }
}

@media (max-width: 480px) {
  .container-fluid {
    .navbar-wrapper {
      width: calc(100% - 32px);
    }
  }
}
