.card-header {
  padding: 10px 15px !important;
  .card-title {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    i {
      padding-right: 8px;
    }
  }
}

.ability-line {
  font-size: 12px;
  padding: 5px 0;
  line-height: 1.25em;

  ::ng-deep {
    i {
      font-size: 1em;
      padding: 0 3px;
    }
  }
}

.upgrades-line {
  font-size: 13px;
  color: #000;
  .upgrade-line {
    padding-left: 3px;
    font-size: 20px;

    i {
      font-size: 1em;
    }
  }
}

::ng-deep {
  .stats-line {
    float: none !important;
    padding-right: 0 !important;
    text-align: center !important;
    font-size: 15px !important;

  }
  .actions-line {
    text-align: center !important;
    font-size: 15px !important;
    .action {
      padding-left: 0 !important;
      padding-right: 8px !important;
    }
  }
}
