<div class="card">
  <div class="card-header card-header-accent">
    <h4 class="card-title"><span *ngIf="pilot.unique" class="unique">•</span> {{ pilot.name }}<span
      class="ship">, {{pilot.ship.name}}</span></h4>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row statistics">
        <sg-stats-line [pilot]="pilot"></sg-stats-line>
        <sg-actions-line [actions]="pilot.actions ? pilot.actions : pilot.ship.actions"></sg-actions-line>
      </div>
      <div class="row ability-line" *ngIf="pilot.ability">
        <span [innerHTML]="pilot.ability | xwingTranslate">{{ pilot.ability }}</span>
      </div>
      <div class="row upgrades-line">
          <span *ngFor="let upg of pilot.slots" class="upgrade-line">
            <i class="xwing-miniatures-font xwing-miniatures-font-{{upg.toLowerCase()}}"></i>
          </span>
      </div>
    </div>
  </div>
</div>
