@import "../../../../../styles/variables/colors";

.card-header {
  .card-title {
    margin-bottom: 0;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    i {
      padding-right: 8px;
    }
  }
}

.ability-line {
  font-size: 12px;
  padding-top: 4px;
  border-top: 1px solid $divider;
  margin-top: 4px;

  padding-bottom: 4px;
  border-bottom: 1px solid $divider;
  margin-bottom: 4px;

  line-height: 1.25em;

  ::ng-deep {
    i {
      font-size: 1.2em;
      padding: 0;
    }
  }
}

.upgrades-line {
  font-size: 13px;
  color: #000;
  .upgrade-line {
    padding-left: 3px;
    font-size: 20px;

    i {
      font-size: 1em;
    }

    .xwing-miniatures-font-forcecharge {
      font-size: 12px;
    }
  }
}
.statistics {
  justify-content: space-between;
  padding: 0 15px;
  ::ng-deep {
    .stats-line {
      float: none !important;
      padding-right: 0 !important;
      text-align: center !important;
      font-size: 15px !important;
    }
    .actions-line {
      text-align: center;
    }
  }
}



@media (max-width: 768px) {
  .card {
    min-width: 230px;
  }
  .statistics {
    ::ng-deep {
      .stats-line,
      .actions-line {
        font-size: 14px;
      }
    }
  }
  .ability-line {
    font-size: 12px;
    line-height: 1.25em;
    .xwing-miniatures-font {
      line-height: 1.25em;
    }
  }
  .upgrades-line {

  }
}
@media (max-width: 480px) {
  .statistics {
    justify-content: center;
    ::ng-deep {
      .stats-line,
      .actions-line {
        padding-right: 0;
        text-align: center;
      }
    }
  }
  .ability-line {
    font-size: 11px;
  }
}
