@import "icons-mixin";
@import "ships-mixin";

/*
 * Icons
 */

.xwing-miniatures-font {
  font-family: XWing;
  font-style: normal;
  font-size: 1.5em;
}

@each $icon, $ignore in $icons-map {
  .xwing-miniatures-font-#{$icon} {
    @include icons-mixin($icon);
  }
}

/*
 * Ships
 */


.xwing-miniatures-ship {
  font-family: XWingShip;
  font-style: normal;
  font-size: 1.5em;
}

@each $ship, $ignore in $ships-map {
  .xwing-miniatures-ship-#{$ship} {
    @include ships-mixin($ship);
  }
}
