<div class="container" *ngIf="factionsConfig$ | async">
  <div class="row">
    <div class="col-md-12 filter-form">
      <div class="button-container">
        <button mat-raised-button type="button" (click)="clearInput()">Clear</button>
      </div>
      <mat-form-field class="input-container">
        <input (keyup.enter)="onKeyup($event)" matInput placeholder="Ship name or faction..." [(ngModel)]="queryString" (click)="$event.target.select()">
      </mat-form-field>
    </div>
  </div>
  <div class="row dial-row">
    <div class="dial-container" *ngFor="let ship of ships | dialFilter : queryString">
    <section class="card">
      <div class="card-body">

        <div class="title">
          <i [ngClass]="ship.icon"></i>
          {{ship.name}}</div>
        <sg-maneuvers [ship]="ship"></sg-maneuvers>
      </div>
    </section>
  </div>
</div>
</div>
