.container {
  margin-top: 24px;


  .row {
    justify-content: center;
    .filter-form {
      display: flex;
      justify-content: space-between;
      .input-container {
        width: calc(100vw - 80px)
      }
      .button-container {
        margin-right: 15px;
      }
    }
    .dial-container {
      margin: 0 10px;

      .card {
        margin: 10px 0;
        width: 174px;

        .card-body {
          padding: 4px 10px 10px;
          height: 124px;

          .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

          }

          ::ng-deep {
            .maneuver-dial {
              margin: 0 auto;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
