<div class="container" *ngIf="factionsConfig$ | async">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ship name or faction..." [(ngModel)]="queryString">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let ship of ships | filter : queryString">
    <section class="card">
      <div class="card-body">

        <div class="title">
          <mat-icon [ngClass]="ship.icon"></mat-icon>
          {{ship.name}}</div>
        <sg-maneuvers [ship]="ship"></sg-maneuvers>
      </div>
    </section>
  </div>
</div>
</div>
