
@import "./xwing-miniatures-fonts/sass/xwing-miniatures";
@import "./fonts/fonts";

html,
body {
  height: 100%;
  overscroll-behavior: contain;
}
body {
  margin: 0;
}
.flex-spacer {
  flex-grow: 1;
}

.sg-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
}
