.sidebar {
  top: 105px;
  li {
    .mat-icon {
      font-size: 20px;
      float: left;
      margin-right: 15px;
      width: 30px;
      text-align: center;
      color: #a9afbb;
    }

    &.active {
      a {
        color: #fff;
        .mat-icon {
          color: #fff;
        }
      }
    }
  }
}


