<div class="sidebar" data-background-color="white" data-color="danger">
    <div class="sidebar-wrapper">
      <ul  class="nav" *ngIf="faction">

        <li class="nav-item active">
          <a class="nav-link">
            <mat-icon [ngClass]="faction.factionIcon"></mat-icon> {{ faction.factionName }}
          </a>
        </li>
        <li class="nav-item" *ngFor="let ship of faction.ships">
          <sg-squad-list-side-nav-section
            [ship]="ship"
            [pilots]="faction.pilots | pilotByShipFilter :ship"
          >
          </sg-squad-list-side-nav-section>
        </li>
      </ul>
    </div>
  <div class="sidebar-background" style="background-image: url(assets/img/sidebar-4.jpg)"></div>
</div>
