.sidebar {
  .logo {
    padding: 15px 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: rgba(180, 180, 180, .3);

    }

    h4 {
      margin: 0 15px;
    }
  }

  top: 97px;
  user-select: none;

  .nav {
    margin-bottom: 60px;
  }

  .sidebar-wrapper {
    height: calc(100vh - 190px);
    overflow: scroll;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
  }

}
