<div class="main mat-elevation-z6" *ngIf="routeData$ | async">
  <nav class="navbar-header">
    <div class="links">
      <a routerLink="/" mat-button><img alt="Legion" class="legion-logo" src="assets/img/legion_white.png" /></a>
      <span class="version">Dial Browser</span>
    </div>
    <div class="buttons">
      <button *ngIf="routeData.isSquadView" mat-mini-fab [disableRipple]="true" color="accent" (click)="newSquadDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <span class="version">v.0.1.2</span>
    </div>
  </nav>
</div>
