@import "../../../styles/variables/colors";

.main {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .navbar-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 8px;
    background: $dark-primary;

    .legion-logo {
      height: 26px;
      margin: 0 4px 3px 0;
      vertical-align: middle;
    }

    .mat-mini-fab {
      width: 32px;
      height: 32px;
      line-height: 32px;
      ::ng-deep {
        .mat-button-wrapper {
          padding: 4px 0;
          .mat-icon {
            height: 20px;
            width: 20px;
            font-size: 20px;
          }
        }
      }

    }
  }
}
.version {
  color: $divider;
  font-size: 0.8rem;
}
