<section class="main">
  <div class="item" *ngFor="let upg of upgrades">
    <ng-container
      [ngTemplateOutlet]="upg.taken === true ? chip : button"
      [ngTemplateOutletContext]="{upg: upg}">
    </ng-container>
  </div>
</section>
<ng-template #button let-upg="upg">
  <sg-upgrade-button class="upgrade-button" (action)="addUpgrade($event)" [type]="upg.type"></sg-upgrade-button>
</ng-template>

<ng-template #chip let-upg="upg">
  <mat-chip-list *ngIf="upg.taken && upg.upgrade">
    <mat-chip class="upgrade-chip" [color]="'accent'"
              [selectable]="true"
              [removable]="true"
              (removed)="removeUpgrade(upg)">
      <i [ngClass]="getCssClass(upg.type)"></i>
      <i *ngFor="let extra of upg.upgrade.extraSlots" [ngClass]="getCssClass(extra)"></i>
      <span class="name">{{upg.upgrade.name}}&nbsp;({{ upg.upgrade.points }})</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</ng-template>
