// Import material theming functions
@import '../../../node_modules/@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$sg-app-primary: mat-palette($mat-grey);
$sg-app-accent: mat-palette($mat-amber);
$sg-app-warn: mat-palette($mat-red);


// Create your Sass color vars (will be available in all the project)
$primary: mat-color($sg-app-primary);
$light-primary: mat-color($sg-app-primary, 100);
$dark-primary: mat-color($sg-app-primary, 700);
$secondary: mat-color($sg-app-primary, 600);

$accent: mat-color($sg-app-accent);
$divider: mat-color($sg-app-primary, 400);
$warn: mat-color($sg-app-warn);
$warn-hover: mat-color($sg-app-warn, 700);


$skill: #cd6d2d;
$attack: #ef232b;
$agility: #6bbe44;
$hull: #b6b335;
$shield: #7ed3e5;
$force: #b976d2;
$charge: #b6b335;


// Create the theme object (a Sass map containing all of the palettes).
$sg-app-theme: mat-light-theme($sg-app-primary, $sg-app-accent, $sg-app-warn);
