$font-family: EurostileStandard, Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$font-base-size: 15px !important;
$font-size-regular: 1rem;


$font-weight-regular: 400;
