<div class="container">
  <section class="row statistics">
    <sg-stats-line [pilot]="squadPilot.pilot"></sg-stats-line>
    <sg-actions-line [actions]="squadPilot.pilot.actions ? squadPilot.pilot.actions : squadPilot.pilot.ship.actions"></sg-actions-line>
  </section>
  <section class="row ability-line" *ngIf="squadPilot.pilot.ability">
    <span [innerHTML]="squadPilot.pilot.ability | xwingTranslate">{{ squadPilot.pilot.ability }}</span>
  </section>
  <section class="row upgrades-line"><!-- TODO: CREATE SEPARATE COMPONENT WITH LOGIC -->
    <sg-upgrade-button class="upgrade-button" *ngFor="let upg of squadPilot.pilot.slots" [type]="upg"></sg-upgrade-button>
  </section>
</div>



