<div class="container">
  <section class="row statistics">
    <sg-stats-line [pilot]="squadPilot.pilot"></sg-stats-line>
    <sg-actions-line [actions]="squadPilot.actions"></sg-actions-line>
  </section>
  <section class="row ability-line" *ngIf="squadPilot.pilot.ability">
    <span [innerHTML]="squadPilot.pilot.ability | xwingTranslate">{{ squadPilot.pilot.ability }}</span>
  </section>
  <section class="row upgrades-line">
    <sg-upgrade-buttons class="upgrades-buttons" [upgrades]="squadPilot.upgrades" (action)="actionUpgrade($event)"></sg-upgrade-buttons>
  </section>
</div>
