.card-header {
  padding: 10px 15px !important;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .card-title {
    font-size: 13px;
    i {
      padding-right: 8px;
    }
  }
}


::ng-deep {
  .maneuver-dial {
    margin: 0 auto;
  }
}
