.mat-icon {
  font-size: 25px;
  float: left;
  margin-right: 15px;
  width: 30px;
  text-align: center;
}

.nav-link {
  cursor: pointer;
  &:hover {
    background: rgba(200, 200, 200, 0.3);
  }
  p {
    font-size: 13px;
  }
}

.nav-link.expand-button {
  padding: 5px 10px 5px 5px;
  &.expanded {
    background: rgba(200, 200, 200, 0.3);
    .caret {
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.nav {
  &.pilot-list {
    margin-top: 0;
    .nav-item{

      .nav-link{
        margin-top: 5px;
        padding: 0 5px 0 10px;
        .mat-icon {
          margin-right: 0;
          float: right;
          margin-left: 5px;
          font-size: 24px;
          line-height: 30px;
        }

        .sidebar-normal {
          font-size: 12px;
        }

        &:hover {
          background: rgba(200, 200, 200, 0.6);
        }
      }
    }
  }
}

.tooltip-wrapper {
  padding: 10px;
  border-radius: 3px;

  background: rgba(97, 97, 97, .9);

  .dial-desc {
    width: 100%;
    background: #fff;
    padding: 5px 10px 10px;
    border-radius: 3px;
    .dial-title {
      color: #000;
      font-size: 13px;
      i {
        font-size: 12px;
      }
    }
    ::ng-deep {
      .maneuver-dial {
        margin: 0 auto;
      }
    }
  }
}

.tooltip-wrapper{
  &.ship-wrapper {
    max-width: 570px;
    min-width: 400px;
  }
  .ship-desc {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    .stats-line {
      font-family: kimberley;
      font-size: 18px;
      float: left;
      padding-right: 20px;
      .stat {
        padding-right: 8px;
        i {
          font-size: 1em;
          padding-right: 3px;
        }
        &.stat-skill {
          color:#cd6d2d;
        }
        &.stat-attack,
        &.stat-bullseyearc,
        &.stat-attackb,
        &.stat-attackt,
        &.stat-attackdt {
          color: #ef232b;
        }
        &.stat-agility{
          color: #6bbe44;
        }
        &.stat-hull{
          color: #b6b335;
        }
        &.stat-shields{
          color: #7ed3e5;
        }
        &.stat-force{
          color: #b976d2;
        }
        &.stat-charge {
          color: #b6b335;
        }
      }


    }
    .actions-line {
      font-size: 18px;
      text-align: right;
      .action {
        padding-left: 8px;
        i {
          color: #000;
          font-size: 1em;
          padding-right: 3px;
          &.white {

          }
          &.red {
            color: #ff0000;
          }
        }
      }
    }

    .title-line {
      font-size: 13px;
      padding-bottom: 3px;
      color: #000;
      .pilot {
        font-weight: bold;
        padding-right: 3px;
      }
      .ship {
        font-size: 12px;
      }

      .unique {
        font-size: 12px;
        font-style: italic;
      }
    }

    .ability-line {
      font-size: 13px;
      padding-bottom: 3px;
      line-height: 1.25em;
      ::ng-deep {
        i {
          font-size: 1em;
          padding: 0 3px;
        }
      }
    }

    .upgrades-line {
      font-size: 13px;
      color: #000;
      .upgrade-line {
        padding-left: 3px;
        font-size: 20px;
        i {
          font-size: 1em;
        }
      }
    }
  }
}
