<ng-template [ngIf]="!isMobileMenu" [ngIfElse]="mobileShip">
  <a class="nav-link expand-button"
     [ngClass]="{'collapsed': collapsed, 'expanded' : !collapsed}"
     data-toggle="collapse"
     (click)="toggleExpand($event)"
     [satPopoverAnchorFor]="dial"
     (mouseenter)="dial.open()"
     (mouseleave)="dial.close()"
     >
    <mat-icon [ngClass]="ship.icon"></mat-icon> <p class="nav-label">{{ ship.name }}<b class="caret"></b></p>
  </a>
  <sat-popover #dial horizontalAlign="after">
    <div class="tooltip-wrapper dial-wrapper">
      <div class="dial-desc">
        <span  class="dial-title">{{ship.name}} <i>Dial</i></span>
        <sg-maneuvers [ship]="ship"></sg-maneuvers>
      </div>
    </div>
  </sat-popover>
</ng-template>
<ng-template [ngIf]="!isMobileMenu" [ngIfElse]="mobilePilot">
  <div class="collapse" [ngClass]="{'show': !collapsed}">
    <ul class="nav pilot-list">
      <li class="nav-item nav-pilot" *ngFor="let pilot of pilots">
        <a class="nav-link"
           (click)="addToSquad($event, pilot)"
           [satPopoverAnchorFor]="desc"
           (mouseenter)="desc.open()"
           (mouseleave)="desc.close()"
        >
          <mat-icon class="align-right">add_box</mat-icon><p class="sidebar-normal">{{pilot.name}} ({{pilot.points}})</p>
        </a>
        <sat-popover #desc horizontalAlign="after">
          <div class="tooltip-wrapper ship-wrapper">
            <div class="ship-desc">
              <sg-stats-line [pilot]="pilot"></sg-stats-line>
              <sg-actions-line [actions]="pilot.ship.actions"></sg-actions-line>
              <div class="title-line"><span class="ship">{{pilot.ship.name}}</span><span *ngIf="pilot.unique" class="unique">, Unique</span></div>
              <div *ngIf="pilot.ability" class="ability-line">
                <span [innerHTML]="pilot.ability | xwingTranslate">{{ pilot.ability }}</span>
              </div>
              <div class="upgrades-line">
                <strong>Upgrades:</strong>
                <span *ngFor="let upg of pilot.slots" class="upgrade-line">
                <i class="xwing-miniatures-font xwing-miniatures-font-{{upg.toLowerCase()}}"></i>
                </span>
              </div>
            </div>
          </div>
        </sat-popover>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #mobileShip>
  <a class="nav-link expand-button"
     [ngClass]="{'collapsed': collapsed, 'expanded' : !collapsed}"
     data-toggle="collapse"
     (click)="toggleExpand($event)"
  >
    <button mat-icon-button (click)="showShipDial($event, ship)"><mat-icon [ngClass]="ship.icon"></mat-icon></button>
     <p class="nav-label">{{ ship.name }}<b class="caret"></b></p>
  </a>
</ng-template>

<ng-template #mobilePilot>
  <div class="collapse" [ngClass]="{'show': !collapsed}">
    <ul class="nav pilot-list">
      <li class="nav-item nav-pilot" *ngFor="let pilot of pilots">
        <a class="nav-link" (click)="addToSquad($event, pilot)">
          <button mat-icon-button (click)="showPilotInfo($event, pilot)"><mat-icon>info_outline</mat-icon></button>
          <mat-icon class="align-right">add_box</mat-icon><p class="sidebar-normal">{{pilot.name}} ({{pilot.points}})</p>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
