.nav-link {
  cursor: pointer;

  .mat-icon-button {
    float: left;
    height: 30px;
    width: 30px;
    line-height: 30px;
    &.align-right {
      float: right;
    }
    .mat-icon {
      margin: 0;
      font-size: 24px;
      line-height: 30px;
      float: left;
      width: 30px;
      text-align: center;
    }
  }

  &:hover {
    background: rgba(200, 200, 200, 0.3);
  }
  &.expand-button {
    padding: 5px 10px 5px 5px;
    .mat-icon-button {
      .mat-icon {
        line-height: 24px;
      }
    }
    &.expanded {
      background: rgba(200, 200, 200, 0.3);
      .caret {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .nav-label {
    margin-left: 35px;
    font-size: 13px;
  }
}


.nav {
  &.pilot-list {
    margin-top: 0;
    .nav-item {
      .nav-link {
        margin-top: 5px;
        padding: 0 5px;
        .sidebar-normal {
          margin: 0 32px;
          font-size: 11px;
          .points {
            float: right;
          }
        }
        &:hover {
          background: rgba(200, 200, 200, 0.6);
        }


      }
    }
  }
}
/* POPUPS */
.tooltip-wrapper {
  padding: 10px;
  border-radius: 3px;
  background: rgba(97, 97, 97, .9);

  .dial-desc {
    width: 100%;
    background: #fff;
    padding: 5px 10px 10px;
    border-radius: 3px;
    .dial-title {
      color: #000;
      font-size: 13px;
      i {
        font-size: 12px;
      }
    }
    ::ng-deep {
      .maneuver-dial {
        margin: 0 auto;
      }
    }
  }

  &.ship-wrapper {
    max-width: 570px;
    min-width: 400px;
  }

  .ship-desc {
    background: #fff;
    padding: 10px;
    border-radius: 3px;

    .title-line {
      font-size: 13px;
      padding-bottom: 3px;
      color: #000;

      .pilot {
        font-weight: bold;
        padding-right: 3px;
      }

      .ship {
        font-size: 12px;
      }

      .unique {
        font-size: 12px;
        font-style: italic;
      }
    }

    .ability-line {
      font-size: 13px;
      padding-bottom: 3px;
      line-height: 1.25em;

      ::ng-deep {
        i {
          font-size: 1.2em;
          padding: 0;
        }
      }
    }

    .upgrades-line {
      font-size: 13px;
      color: #000;

      .upgrade-line {
        padding-left: 3px;
        font-size: 20px;

        i {
          font-size: 1em;
        }
      }
    }
  }
}

