<div class="card">
  <div class="card-header card-header-accent">
    <h4 class="card-title">New squadron</h4>
  </div>
  <div class="card-body">
<!--    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Points" value="200" type="number">
        </mat-form-field>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12 buttons">
        <button mat-button class="btn" *ngFor="let item of factionsButtonItem"
                (click)="onClick(item.actionName, item.payload)">
          <mat-icon [ngClass]="item.iconClass"></mat-icon>
          <span *ngIf="item.label">{{ item.label }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
